<!-- <p>drag works!</p> -->
<div class="example-container">
    <h2>To do</h2>
    <div 
    cdkDropList 
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    cdkDropListOrientation="horizontal" 
    class="example-list" 
    (cdkDropListDropped)="drop($event)">
    <br>
      <div class="example-box" *ngFor="let item of todo" cdkDrag >{{item.transferItemTitle}}</div>
    </div>
  </div>
 
  
  <div class="example-container">
    <h2>Done</h2>
  <div 
    cdkDropList 
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list" 
    (cdkDropListDropped)="drop($event)">
      <div class="example-box"  *ngFor="let item of done" cdkDrag>{{item.moveTitle}}</div>
    </div>
  </div>
  